/* your code */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  padding: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius:5%
}

.table thead {
  background-color: #1e88e5;
  color: white;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.table tbody tr:hover {
  background-color: #e3f2fd;
}
.table tbody tr:nth-child(odd) {
  background-color: #f9fbff;
}

.table tbody tr:nth-child(even) {
  background-color: #e3f2fd;
}
